@import '../variables';

.item {
  height: 100px;
  width: 100px;
  background-color: $light-2;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid $vivid;
  border-radius: $border-radius;
  flex-direction: column;
  padding: 0;
  color: black;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    background-color: $light-2;
    border: 3px solid $vivid-2;
  }

  &--disabled {
    filter: opacity(80%);

    &:hover {
      border: 3px solid $vivid;
      filter: opacity(100%);
    }
  }

  &--actions {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;

    &:hover {
      color: $vivid-2;
    }
  }
}

.emoji {
  size: large;
  font-size: 30px;
}

.name {
  line-height: 1.1em;
}

.description {
  font-size: 0.8rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  padding: 0 5px;
  box-sizing: border-box;
}
