@import 'variables';

#root {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

.app {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--modal {
    overflow: hidden;
  }
}

.card {
  padding: 2em;
}

.intro {
  color: $light-2;
  font-weight: 400;
}

.container {
  max-width: 800px;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
}

.container-items {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
}

.counter {
  display: flex;
  padding: 10px;
  background-color: white;
  border: 3px solid $vivid ;
  border-radius: 50%;
  width:50px;
  height: 50px;
  margin-left: auto;
  justify-content: center;
  align-items: center;
}
